.logotype {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 24px;

  svg {
    width: fit-content;
    height: 40px;
    user-select: none;
    -webkit-user-drag: none;
  }
}

.sidebar {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100dvh;
  padding-bottom: 24px;
  background: #FAFAFA;
  border-right: 1px solid #E8E8E8;

  & > .container {
    width: 100%;
  }

  & > footer.container {
    position: absolute;
    bottom: 24px;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      height: 48px;
      padding: 0 24px;
      color: #202020;
      font-weight: 600;
      text-decoration: none;
      user-select: none;
      -webkit-user-drag: none;
      opacity: .7;
      transition: 200ms all ease;

      &[aria-current='page'] {
        opacity: 1;
        font-weight: 800;
      }

      & > svg {
        margin: 4px;
      }
    }
  }
}
